body {
    background-color: lightskyblue;
}

#root {
    // text-align: center;
    // // font-size: 28px;
    // // padding-top: 200px;
    // font-family: Arial, Helvetica, sans-serif;
    // color: rgb(247, 70, 6);
}