.navbar {
    background: #333;
    font-family: Interstate,Lucida Grande, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    // position: fixed;
    height: 46px;
    color: #999;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav-left {
    margin-left: 10px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 184px;
    background: transparent url(https://a-v2.sndcdn.com/assets/images/brand-1b72dd82.svg) no-repeat 0 11px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAWCAQAAAAs/tcnAAABMUlEQVR4Ac3UJfQUARTGUaxnrBHpPeDu7u7uTg/QO/SK9q1U3KHg2i7fH4exNeSdc9/ZNL/RHfRfjdHOuOajt246b7Fh/T38WO/9OnfM7s+hx3gUh5XNWYN7D4wnTlOe6OGsv/6eQlQFmNX9WScTs4jqwD3DOr/j04gJxHyiOsCiTgITibnEdGIJURc410lgJrGYmE+sIuoCz1301BstGwxueqQLiVXEMmI9cVp7c9WIYmAqkUysIjYQa4mtRAJtJwb//kgXEdOJTcR2Yiuxi2g/wIYfgTnEBmIFsYvYS+whDhCdBFo/ApuJvcRO4hBxhDhMHCU6Cbz5EThKHCe+7BNEcXceKFxB/e7yFs0h1hP1u/OHXHiL6nfnr2nhO6jfR3r50L5cR9O+oX5+/FX8vfkElmh0Xu+KRLEAAAAASUVORK5CYII=);
    background-position-x: 12px;
    background-size: 48px 22px;
    color: #ccc
}

.nav-left p {
    margin-left: 60px;
    font-size: 20px;
}

.nav-right {
    margin-right: 10px
}

.greeting-logged-in {
    
}

.greeting-logged-out {
    display: flex;
    // flex-direction: column;
    align-items: center;
    height: 100%;
}

.logout {
    border-radius: 6px;
    border-color: black;
}

.signup {
    background-color: #f50;
    display: inline-block;
    position: relative;
    height: 26px;
    margin: 0;
    padding: 2px 11px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    -webkit-user-select: none;
    box-sizing: border-box;
}

.login {
    border-color: #666;
    background-color: transparent;
    color: #fff;
    transition: opacity .2s linear;
    display: inline-block;
    position: relative;
    height: 26px;
    margin: 0;
    padding: 2px 11px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    -webkit-user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-appearance: button;
    float: left;
    margin-right: 10px;
}