.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background-color: rgba(0,0,0,0.45);
    background-color: hsla(0,0%,94.9%,.9)
}

.modal {
    display: flex;
    width: 450px;
    // left: 30px;
    margin: 0 auto;
    margin-top: 76px;
    height: 400px;
    padding: 25px;
    background: #fff;
    border: 1px solid lightgray;
    // margin: 76px 0 30px;
    position: relative;
    // left: calc(50% - width);
    top: 0;
    transform: translateZ(0);
    visibility: visible;
    z-index: 3000;
    box-sizing: border-box;
}