.session-form {
    width: 100%;
}

#email, #username, #password, .session-form-submit {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    padding: 7px 8px;
    border-radius: 5px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    box-sizing: border-box;
    margin-bottom: 25px;
    // -webkit-user-select: none;    
}

#email:focus, #username:focus, #password:focus, .session-form-submit:focus {
    outline: none;
}

#email, #username, #password {
    background-color: #fff;
    border: 1px solid #ccc
}

.session-form-submit, .guest-login {
    background-color: #FF5500;
    border: 1px solid #FF5500;
    color: #e5e5e5;
    cursor: pointer;
}

.session-notice {
    font-weight: 100;
    color: #999;
    line-height: 1.462;
    font-size: 12px;
    font-family: Lucida Grande,Helvetica,Arial,sans-serif;
}

input:invalid {
    border: 2px solid red;
}


