.discovery-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.discovery-main h1 {
    margin-top: 150px;
    color: #999;
    font-size: 24px;
    font-family: Lucida Grande,Helvetica,Arial,sans-serif;
}