.logout-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    background-color: rgb(247, 243, 243);
    color: #333;
}

.logout-message, .logout-bio, .logout-projects, .logout-social {
    max-width: 1240px;
    min-width: 80%;
}

.logout-message, .logout-bio, .logout-projects {
    background-color: white;
}


.logout-main h1 {
    font-size: 37px;
    font-weight: 100;
}

.logout-message {
    display: flex;
    justify-content: center;
    min-width: 80%;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: black;
    color: #fff;
}

.logout-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    // background-color: #FF5500;
    // color: #fff;
}
.logout-bio h2 {
    font-size: 24px;
    font-weight: 100;
}

.logout-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: #fff;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;    
}



.bio-and-image {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-evenly;
}

.bio, .bio-pic {
    width: 50%;
}

.bio-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url('../images/bio_image.JPG');
    
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    // background-image: url(../images/bio_image.JPG);
    color: fuchsia;
    border-radius: 3px;
    height: 400px;
    width: 400px;
    
}

.pic img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: left;
    // padding-left: 50px;
    padding-right: 50px;
}

.bio-paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.projects div, .social-media div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    background-color: #FF5500;
    color: hsl(155, 99%, 49%);
    border-radius: 3px;
}

.logout-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

}

.social-media {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
    
}