.logout-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Lucida Grande,Helvetica,Arial,sans-serif;
    background-color: rgb(247, 243, 243);
}

.logout-message, .logout-bio, .logout-projects {
    background-color: white;
}

.logout-main h1 {
    font-size: 37px;
    font-weight: 100;
}

.logout-main h2 {
    font-size: 24px;
    font-weight: 100;
}

.logout-message {
    display: flex;
    justify-content: center;
    min-width: 80%;
    padding-top: 75px;
    padding-bottom: 75px;
}

.logout-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.logout-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;    
}

.projects div, .social-media div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 250px;
    background-color: black;
    color: #FF5500;
    border-radius: 3px;
}

.bio-and-image {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-evenly;
}

.bio, .bio-pic {
    width: 50%;
}

.bio-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url('../images/bio_image.JPG');
    
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    // background-image: url(../images/bio_image.JPG);
    color: #FF5500;
    border-radius: 3px;
    height: 400px;
    width: 400px;
    
}

.pic img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: left;
    // padding-left: 50px;
    padding-right: 50px;
}

.bio-paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.logout-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

}

.social-media {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
    
}